<ion-view view-title="Effect" >
  <ion-content class="fill  dark-bg">

   <div id="container" class="block overflow-hidden" ng-style="{height: {{height}} + 'px'}">

     <div class="block fill dark-bg overflow-hidden">
       <canvas id="canvasEffect" class="block-absolute image-effect absolute-center top-0" ></canvas>
      <img id="imageEffect"  ng-src="{{imageCaptured}}" class="block image-effect" />

     </div>
     <div class="block-absolute-2 width-100 bottom-44 text-color-white text-center"  ng-class="currentThemeBackgroundColor">
        <div class=" block width-100" style="height: 45px !important;">
           <div class="block-inline float-left padding-bottom-5 padding-top-5 padding-left-5 padding-right-5" style="width: 20% !important;" on-touch="applyOriginal()">
             <img src="file:///android_asset/www/img/original.jpg" class="block width-100" style="width: 50px; height: 50px; margin: 0 auto;"/>
             <center ng-class="currentThemeTextColor">Original</center>
           </div>
           <div class="block-inline float-left padding-bottom-5 padding-top-5 padding-left-5 padding-right-5" style="width: 20% !important;" on-touch="applySepia()">
             <img src="file:///android_asset/www/img/sepia.jpg" class="block width-100" style="width: 50px; height: 50px; margin: 0 auto;"/>
             <center ng-class="currentThemeTextColor">Sepia</center>
           </div>
           <div class="block-inline float-left padding-bottom-5 padding-top-5 padding-left-5 padding-right-5" style="width: 20% !important;" on-touch="applyGrayscale()">
             <img src="file:///android_asset/www/img/grayscale.jpg" class="block width-100" style="width: 50px; height: 50px; margin: 0 auto;"/>
             <center ng-class="currentThemeTextColor">Grayscale</center>
           </div>
           <div class="block-inline float-left padding-bottom-5 padding-top-5 padding-left-5 padding-right-5" style="width: 20% !important;" on-touch="applyVintage()">
             <img src="file:///android_asset/www/img/vintage.jpg" class="block width-100" style="width: 50px; height: 50px; margin: 0 auto;"/>
             <center ng-class="currentThemeTextColor">Vintage</center>
           </div>
           <div class="block-inline float-left padding-bottom-5 padding-top-5 padding-left-5 padding-right-5" style="width: 20% !important;" on-touch="applyInvert()">
             <img src="file:///android_asset/www/img/invert.jpg" class="block width-100" style="width: 50px; height: 50px; margin: 0 auto;"/>
             <center ng-class="currentThemeTextColor">Invert</center>
           </div>
         </div>
      </div>

      <div class="bar bar-footer bar-positive">
        <button class="button button-clear" on-touch="" >
          <i class="icon ion-android-cancel"></i>
        </button>

        <button class="button button-clear" on-touch="openModaAddImage()">
          <i class="icon ion-android-done"></i>
        </button>
      </div>


    </div>
  </ion-content>
</ion-view>
