<ion-view view-title="Image detail">
    <ion-slide-box show-pager="false" class="fill" style="padding-top: 44px; background-color: black;">

      <ion-slide class="fill" ng-repeat="image in images">
        <div class="block fill dark-bg">
            <img ng-src="{{image.url}}" class="block image"/>
        </div>
        <div class="block-absolute width-100 background-gradient-top-black padding-bottom-30 padding-top-10 top-0 text-color-white text-center">
            {{image.title}}
        </div>
        <div class="block-absolute width-100 background-gradient-bottom-black padding-left-10 padding-right-10 padding-top-30 padding-bottom-10 bottom text-color-white text-center">
          <span class="pull-left"><i class="icon ion-android-locate"></i> &nbsp; {{image.location}}</span>
          <span class="pull-right">{{image.date}}</span>
        </div>

      </ion-slide>

    </ion-slide-box>
</ion-view>
