<ion-view class="positive-bg">
  <ion-content class="padding-left padding-right">
    <div class="block padding-top padding-bottom">
      <center>
        <h2 class="light">Poster</h2>
      </center>
    </div>
    <form>
      <div class="list">

        <div class="item item-input " style="overflow: inherit; z-index: 90;" on-touch="openPopover($event, 'Email is not valid')">
          <input type="text" placeholder="Email" ng-model="user.email">
          <div >
            <i class="icon ion-information-circled  padding-right assertive" ></i>
          </div>
<!--
          <div class="tooltip padding-left-5 padding-right-5 padding-top-5 padding-bottom-5 top-48 color-silver">
            Password is not good
          </div>
-->
        </div>

        <div class="item item-input" style="overflow: inherit; z-index: 90; margin-top: 20px;" on-touch="openPopover($event, 'Password must be 8 characters!')">
          <input type="text" placeholder="Password" ng-model="user.password" >
          <div  >
            <i class="icon ion-information-circled  padding-right assertive" ></i>
          </div>

        </div>

      </div>
      <button nav-transition="android" on-touch="login()" class="button button-block button-outline button-light" style="margin-top: 20px;">
        Sign in
      </button>
    </form>
  </ion-content>
</ion-view>
