<ion-view class="positive-bg">
  <ion-content class="padding-left padding-right">
    <div class="block padding-top padding-bottom">
      <center>
        <h2 class="light">Poster</h2>
      </center>
    </div>
    <form>
      <div class="list">

        <div class="item item-input " style="overflow: inherit; z-index: 90;" on-touch="openPopover($event, emailMessage, 'email')">
          <input type="email" placeholder="Email" ng-model="user.email" ng-change="validateEmail()">
          <div >
            <i ng-show="emailErrorShow" class="block assertive-bg text-center light" style="width: 20px; height: 20px; border-radius: 50%; margin-right: 5px;" ><b>!</b></i>
          </div>

        </div>

        <div class="item item-input" style="overflow: inherit; z-index: 90; margin-top: 20px;" on-touch="openPopover($event, passwordMessage, 'password')">
          <input type="password" placeholder="Password" ng-model="user.password" ng-change="validatePassword()">
          <div  >
            <i ng-show="passwordErrorShow" class="block assertive-bg text-center light" style="width: 20px; height: 20px; border-radius: 50%; margin-right: 5px;" ><b>!</b></i>
          </div>
        </div>

      </div>
      <button nav-transition="android" on-touch="login()" class="button button-block button-outline button-light" style="margin-top: 20px;">
        Sign in
      </button>

      <center style=" margin-top: 20px;">
        <a class="light" ui-sref="register()">Sign up to Poster</a>
      </center>
    </form>
  </ion-content>
</ion-view>
