<ion-view view-title="Settings">
  <ion-content>
    <ion-list >
      <ion-item menu-close class="padding-top-13 padding-bottom-13" on-touch="openModal()">
        <i class="icon ion-android-color-palette  font-size-17"> &nbsp; </i> <span style="position: relative; top: -3px;">Theme</span>
      </ion-item>
      <ion-item menu-close class="padding-top-13 padding-bottom-13">
        <i class="icon ion-android-time  font-size-17"> &nbsp; </i> <span style="position: relative; top: -3px;">Splash screen</span>
      </ion-item>
      <ion-item menu-close class="padding-top-13 padding-bottom-13">
        <i class="icon ion-android-sync font-size-17"> &nbsp; </i> <span style="position: relative; top: -3px;">Sync data</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
