<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title"> {{modalTypeTitle}} album</h1>
  </ion-header-bar>
  <ion-content class="padding-left padding-right" ng-class="currentThemeBackgroundColor">
    <div class="list">
      <div class="item item-input " style="overflow: inherit; z-index: 90; margin-top: 20px;" on-touch="openPopover($event, titleMessage, 'title')">
        <input type="text" placeholder="Title" ng-model="album.title" ng-change="validateTitle()">
        <div >
          <i ng-show="titleErrorShow" class="block assertive-bg text-center light" style="width: 20px; height: 20px; border-radius: 50%; margin-right: 5px;" ><b>!</b></i>
        </div>

      </div>

      <div class="item item-input" style="overflow: inherit; z-index: 90; margin-top: 20px;" on-touch="openPopover($event, descriptionMessage, 'description')">
        <input type="text" placeholder="Description" ng-model="album.description" ng-change="validateDescription()">
        <div  >
          <i ng-show="descriptionErrorShow" class="block assertive-bg text-center light" style="width: 20px; height: 20px; border-radius: 50%; margin-right: 5px;" ><b>!</b></i>
        </div>
      </div>
  </div>

    <div class="button-bar  margin-top-50">
      <button class="button" on-touch="closeModalUpdateAddAlbum()"  ng-class="[currentThemeButton, currentThemeBorder]">Cancel</button>
      <button class="button button-positive"  on-touch="addUpdateAlbum()">OK</button>
    </div>


  </ion-content>
</ion-modal-view>
