<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Set splash screen time delay </h1>
  </ion-header-bar>
  <ion-content ng-class="currentThemeBackgroundColor">

    <center class="padding-top-30"><h3 ng-class="currentThemeTextColor">{{splashScreenLength}}s</h3></center>
    <div class="range range-positive">
      <i ng-class="currentThemeTextColor">1s</i>
      <input type="range" name="length" min="1" max="20" ng-model="splashScreenLength" ng-change="dragRangeSplash(splashScreenLength)">
      <i ng-class="currentThemeTextColor">20s</i>
    </div>

    <div class="button-bar padding-left-5 padding-right-5 margin-top-50">
      <button class="button" on-touch="closeModalSplash()"  ng-class="[currentThemeButton, currentThemeBorder]">Cancel</button>
      <button class="button button-positive"  on-touch="saveSplashScreenPreference()">OK</button>
    </div>


  </ion-content>
</ion-modal-view>
