<ion-modal-view>
  <ion-header-bar class="bar-positive">
    <h1 class="title">Choose theme</h1>
  </ion-header-bar>
  <ion-content>

    <div class="list">
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">Dark</div>
        <i class="radio-icon ion-checkmark balanced"  style="padding-top: 8px;"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">Light</div>
        <i class="radio-icon ion-checkmark balanced"  style="padding-top: 8px;"></i>
      </label>
    </div>

    <div class="button-bar padding-left-5 padding-right-5 margin-top-50">
      <button class="button button-stable" on-touch="closeModal()">Cancel</button>
      <button class="button button-positive"  on-touch="closeModal()">OK</button>
    </div>


  </ion-content>
</ion-modal-view> -
