/* Empty. Add your own CSS if you like */
input{
  border: none;
}
.block-inline {
  display:inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 1px 1px 1px 1px;
  float: left;
}
.block {
  display:block;
  position: relative;
  box-sizing: border-box;
}
.block-absolute {
  display:block;
  position: absolute;
  box-sizing: border-box;
}
.block-absolute-2 {
  display:block;
  position: absolute;
}
.absolute-center{
  left:0 !important;
  right:0 !important;
  margin-left:auto !important;
  margin-right:auto !important;
}
.fill{
  width: 100%;
  height: 100%;
}
.position-relative{
  position: relative;
}
.image{
  width: 100%;
  height: auto;
  -webkit-transition: all .5s ease-in-out;
}
.image-effect{
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transition: all .5s ease-in-out;
}
.width-33{
  width: 33.33%;
  height: auto;
}
.width-100{
  width: 100%;
  height: auto;
}
.width-40-height-40{
  width: 40px;
  height: 40px;
}
.color-silver{
  background-color: #bdc3c7;
}
.color-blue{
  background-color: #55aaff;
}
.color-dark-gray{
  background-color: #353535;
  color: white;
}
.bg-color-black{
  background-color: black;
}
.padding-left-5{
  padding-left: 5px;
}
.padding-right-5{
  padding-right: 5px;
}
.padding-top-5{
  padding-top: 5px;
}
.padding-bottom-5{
  padding-bottom: 5px;
}
.padding-left-10{
  padding-left: 10px;
}
.padding-right-10{
  padding-right: 10px;
}
.padding-top-13{
  padding-top: 13px;
}
.padding-bottom-13{
  padding-bottom: 13px;
}
.padding-left-30{
  padding-left: 30px;
}
.padding-right-30{
  padding-right: 30px;
}
.padding-top-30{
  padding-top: 30px;
}
.padding-bottom-30{
  padding-bottom: 30px;
}
.padding-top-15{
  padding-top: 15px;
}
.padding-bottom-15{
  padding-bottom: 15px;
}
.padding-top-10{
  padding-top: 10px;
}
.padding-bottom-10{
  padding-bottom: 10px;
}
.text-center{
  text-align: center;
}
.opacity-80{
  opacity: 0.8;
}
.bottom{
  bottom: 0;
}
.bottom-44{
  bottom: 44px;
}
.bottom-90{
  bottom: 90px;
}
.albumSelected{
  background-color:  #6699ED;
  color: white;
  opacity: 1.0;
  -webkit-transition: all .5s ease-in-out;
}
.albumDeselected{
  background-color: #353535;
  color: white;
  opacity: 0.7;
  -webkit-transition: all .5s ease-in-out;
}
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.text-underline-none{
  text-decoration: none;
}

.text-color-white{
  color: white;
  opacity: 1.0 !important;
}
.font-size-17{
  font-size: 17pt;
}
.font-size-12{
  font-size: 12pt;
}
.tooltip-input{
  box-sizing: border-box;
  z-index: 200;
  right: 0;
  float: right;
  border-radius: 0;
  background: #FF3230;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  height:auto;
  max-width: auto !important;
  float:right !important;
  left: auto !important;
  margin-right: 10px;
  margin-top: 8px !important;
}
.tooltip-input:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 8px 12px;
  border-color: #FF3230 transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -11px;
  left: auto;
  right: 9px;
  float: right;
}

.top-48{
  top: 48px;
}
.top--48{
  top: -20px;
}
.top-0{
  top: 0;
}
.top-15{
  top: 8px;
}
.overflow-hidden{
  overflow: hidden;
}
.dark-border-color{
  border-color: #4f4f5a !important;
}
.light-border-color{
  border-color: #dedede !important;
}

// override action sheet css
.action-sheet-wrapper {
  padding: 10px;
}
.action-sheet{
  border-radius: 0px;
}
.action-sheet-title {
  text-align: center;
  border-bottom: 1px solid #eeeeee;
}
.action-sheet-option{
  text-align: center;
  color: #007aff;
}
.action-sheet-destructive{
  text-align: center;
  color: #ff3b30;
}


// ovveride
.item-radio .item-content{
  position: relative;
  z-index: 2;
  padding: 16px 49px 16px 16px;
  border: none;
  background-color: transparent !important;
}
.item-radio input:checked ~ .item-content{
  background: transparent;
}

.background-gradient-top-black{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 90%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.85)), color-stop(90%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 90%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 90%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 90%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 90%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}
.background-gradient-bottom-black{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+0,0.65+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.85) 90%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(90%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 90%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 90%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 90%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.85) 90%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */


}
.grayscale{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url(desaturate.svg#greyscale);
  filter: gray;
  -webkit-filter: grayscale(1);
}
.zoom{
/*  -moz-animation: 'zoom' 0.5s;
  -webkit-animation: 'zoom' 0.5s;*/
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);

}
.item-content{
  padding-top: 13px !important;
  padding-bottom: 13px  !important;
}
.margin-top-50{
  margin-top: 50px;
}

@media (min-width: 200px) and (max-width: 400px) {

  .width-33{
    width: 50%;
    height: auto;
  }

}

@media (min-width: 400px) and (max-width: 700px) {

  .width-33{
    width: 33.33%;
    height: auto;
  }

}
@media (min-width: 700px) and (max-width: 900px) {

  .width-33{
    width: 25%;
    height: auto;
  }
}
  @media (min-width: 900px) and (max-width: 2000px) {

    .width-33{
      width: 25%;
      height: auto;
    }

}
